@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 0;
  }
  /* #mega-menu div:nth-child(3) {
    grid-column: span 2 / span 2;
  } */

  /* #Brands-heading + ul {
    columns: 3;
  } */

  #mega-menu ul {
    columns: 2;
  }

  .cls-1 {
    fill: none;
    stroke: #0c0a09;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.25px;
  }

  .skewed-border {
    background: transparent;
    padding: 2rem 2rem;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    border: solid 3px #1c1917;
  }

  .skewed-divider {
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
  }

  /* .jwr-bg {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23172554' fill-opacity='0.025' fill-rule='evenodd'/%3E%3C/svg%3E");
  } */

  .jwr-bg {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='0c0a09' fill-opacity='.025' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .fade-in {
    animation: fadeIn 0.5s ease-in forwards;
  }

  .fade-out {
    animation: fadeOut 0.5s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /*Browsers default outline styles override*/

  /* html {
    scroll-behavior: smooth !important;
  } */

  a,
  button:focus {
    @apply outline-1 outline-current outline-offset-1;
  }

  .body p {
    @apply leading-7 text-base [&:not(:first-child)]:mt-4;
  }

  .heading {
    @apply text-5xl pt-1 pb-2 font-semibold tracking-wide cursor-pointer mb-2;
  }

  .pageHeading {
    @apply pt-1 pb-4 text-2xl leading-7 font-bold tracking-wide;
  }

  .sectionHeading {
    @apply pt-1 pb-2 text-2xl font-bold tracking-wide cursor-pointer mb-2;
  }

  /* Apply base font sizes and styles for typography markup (h2, h2, ul, p, etc.). A helpful addition for whenn page content is consumed from a source managed through a wysiwyg editor. */

  /* To enable anchor tag consitency, calculate the scroll-mt tw class by adding the --header-height to the set top margin of the relative element */
}
